<div class="col-xs-6">
  	<h2><%= image_tag @book.book_image.url ,:style => "margin-top: 40px; height: 400px; width: 300px; margin-left: 260px;" %></h2>
</div>
<div class="col-xs-6" style="margin-top: 130px;">
	<h3>Title -<%= @book.title %></h3>
  	<h5>Author -<%= @book.author %></h5>
  	<h5>Description -<%= @book.description %></h5>
  	<h5>Category -<%= @book.category %></h5>
</div>